%table.table.table-hover
    %thead
        %tr
            %th Student ID
            %th Term
            %th Class Number
            %th Courses
            %th Status
    %tbody
    - @students.each do |student|
        %tr
            %th= student.id
            %th= student.term
            %th= student.class_nbr
            %th
                - courses = student.courses
                - courses.each do |course|
                    %p= course.name
            %th= student.status        