%table.table.table-hover
  %thead
    %tr
      %th Course ID
      %th Course Name
      %th Catalog Number
      %th Components
  %tbody
    - @courses.map do |course|
      %tr
        %td= course.id
        %td= course.name
        %td= course.catalogue_number
        %td
          - components = course.components
          - components.map do |component|
            %p #{component.class_type} #{component.id}
