%h1 Clash Requests
= link_to 'Create' , new_clash_request_path, class: 'btn btn-primary'

%table.table.table-hover#clash-clash_requests
    %thead
        %tr
            %th Enrolment Requests ID
            %th Student ID
            %th Date Submitted
            %th Faculty
            %th Comments
            %th Core Course
            %th Request Type
            %th Email
            %th
    %tbody
        - @clash_requests.each do |clash_request|
            %tr
                %td= clash_request.enrolment_request_id
                %td= clash_request.student_id
                %td= clash_request.date_submitted
                %td= clash_request.faculty
                %td= clash_request.comments
                %td= clash_request.core
                %td= clash_request.request_type
                %td= clash_request.email
                %td= link_to 'View', clash_request_path(clash_request), class: 'btn btn-default'
