%h1 Create a new clash request
.row
    .col-md-4
        = form_tag clash_requests_path do
            %h3 Enrolment Request ID
            = text_field :clash_request, :enrolment_request_id, {:class => 'form-control'}

            %h3 Student's ID
            = text_field :clash_request, :student_id, {:class => 'form-control'}

            %h3 Date submitted
            = date_field :clash_request, :date_submitted, {:class => 'form-control'}

            %h3 Faculty
            = text_field :clash_request, :faculty, {:class => 'form-control'}

            %h3 Comments
            = text_field :clash_request, :comments, {:class => 'form-control'}

            %br
            = submit_tag 'Create', class: 'btn btn-primary'
            = link_to 'Cancel', clash_requests_path, class: 'btn btn-default'
