%h1 Enrolment request ##{@clash_request.id} #{@clash_request.inactive ? '(inactive)' : ''}

.row
    .col-md-4
        %h3 Student's ID
        = @clash_request.student.id

        %h3 Date submitted
        = @clash_request.date_submitted

        %h3 Faculty
        = @clash_request.faculty

        %h3 Comments
        = @clash_request.comments
    %br
    = link_to 'Edit', edit_clash_request_path(@clash_request), class: 'btn btn-primary'
    = link_to "Make #{@clash_request.inactive ? 'active' : 'inactive'}", clash_request_path(@clash_request), method: :delete, class: 'btn btn-primary'
    = link_to 'Back', clash_requests_path, class: 'btn btn-default'

