- content_for(:head) do
    = stylesheet_link_tag "request_form"

%div.body
    %div.link
        %ul.link_menu
            %li
                %a{href: "request_form"} Request Form
    %div.main_form
        %div.intro
            %h1 Timetable Clash, Unit Overload and Course Full Resolution Form
            %h2 Please complete the request form below if you have timetable clash or unit overload or course full resolution problem.
            %ul
        %li This form has been designed for students who have attempted to enrol through Access Adelaide but due to Timetable Clash, Course full or unit overload problem.
        %li If you have experienced an error as outlined above, an Enrolment Request ID Number will be generated in Access Adelaide. This Enrolment Request ID Number must be recorded in the form below for your form to be processed.
        %li
            %span Please note:
            Please fill out a separate form for each request form.
        %li While every attempt will be made to action your requests as soon as possible, please allow up to five working days for processing.
        %li
            %span Please note:
            if your Timetable clash enquiry relates to other courses outside the Faculty of Engineering Computer and Mathematical Sciences such as ENTREP, ECON, ACCTING, COMMERCE, PHYSICS, BIOLOGY, ARTS etc., please forward your enquiry to the relevant Faculty office.
            %li For e.g PHYSICS course enquiry should be forwarded to the Faculty of Sciences and ENTREP course should be forwarded to the Faculty of the Professions.
        =form_tag "/request_form" , method: :post  do
            %div.form_title
                %div.form_title_collision
                %div.form_title_background1
                    %p Request Form
                %div.form_title_background2
            %div.form
                %div.sub_title
                    %h1 Enrolment Request ID Number
                    %h2
                        %span{ :style => "color: red" } *
                        INDICATES REQUIRED INFORMATION
                    %div
                        %div=flash[:form_error]
                %div.input_boxes
                    %ul
                        %li.label_down
                            Enrolment Request ID Number: (found in the top right-hand corner in Access Adelaide on the screen displaying the error)
                            %span{ :style => "color: red" } *
                        %li.no_float= text_field :request_form, :enrolment_request_id,:value => session[:request_form]["enrolment_request_id"], :class => "input_box"
                %div.sub_title
                    %h1 Personal Details
                %div.input_boxes
                    %ul
                        %li.label_down
                            Name:
                            %span{ :style => "color: red" } *
                        %li= text_field :request_form, :name,:value => session[:request_form]["name"], :class => "input_box"
                    %ul
                        %li.label_down
                            Student ID:
                            %span{ :style => "color: red" } *
                        %li= text_field :request_form, :student_id,:value => session[:request_form]["student_id"], :class => "input_box"
                    %ul
                        %li.label_down
                            Email:
                            %span{ :style => "color: red" } *
                        %li= text_field :request_form, :email,:value => session[:request_form]["email"], :class => "input_box"
                %div.sub_title
                    %h1 The Degree Program for this enrolment
                %div.input_boxes
                    %ul
                        %li.label_down
                            Degree Program:
                            %span{ :style => "color: red" } *
                        %li=select_tag("request_form[faculty]",options_for_select(@degrees), :multiple =>false,:class => "select_box" )
                %div.sub_title
                    %h1 The Course you wish to enrol into
                %div.input_boxes
                    %ul
                        %li.label_down
                            Semester:
                            %span{ :style => "color: red" } *
                        %li=select_tag("request_form[semester]",options_for_select(@semester.collect.with_index.to_a), :multiple =>false,:class => "select_box" )
                    %ul
                        %li.label_down
                            Subject Area:
                            %span{ :style => "color: red" } *
                        %li=select_tag("request_form[subject]",options_for_select(@subject.collect.with_index.to_a), :multiple =>false,:class => "select_box" )
                    %ul
                        %li.label_down
                            Course:
                            %span{ :style => "color: red" } *
                        %li=select_tag("request_form[course]",options_from_collection_for_select(@courses, "name", "name"), :multiple =>false,:class => "select_box" )
                    %ul
                        %li.label_down
                            Course Name:
                        %li= text_field :request_form, :course_name,:value => session[:request_form]["course_name"], :class => "input_box"
                %div.sub_title
                    %h1 The Classes you would prefer to enrol into
                %div.input_boxes
                    %ul
                        %li
                            Timetable Clash:
                        %li.center
                            =check_box_tag "request_form[clash_resolution]",1, RequestForm.isTrue(session["request_form"]["clash_resolution"])
                    %ul
                        %li
                            Course Full:
                        %li.center
                            =check_box_tag "request_form[unit_overload]",  1, RequestForm.isTrue(session["request_form"]["unit_overload"])
                    %ul
                        %li
                            Unit Overload:
                        %li.center
                            =check_box_tag "request_form[class_full]",  1, RequestForm.isTrue(session["request_form"]["class_full"])
                    %ul
                        %li
                            Is this a core course ?
                            %span{ :style => "color: red" } *
                        %li.center
                            =radio_button_tag "request_form[core_yes]",1,RequestForm.isTrue(session["request_form"]["core_yes"])
                            Yes
                            =radio_button_tag "request_form[core_no]",1,RequestForm.isTrue(session["request_form"]["core_no"])
                            No
                    %ul
                        %li Comments or Justification:
                        %li=text_area_tag "request_form[comments]",session[:request_form]["comments"],:class => "text_area"


                %div.approval
                    %h1 Approval and Understanding for Overriding Clashes/Overload for Enrolment
                    %ul
                        %li I understand the implications of my enrolment and the clashes/overload that will occur. I am prepared to accept responsibility for the consequences of this clash/overload.
                        %li Note: Timetable clashes will still need to be managed. Please make yourself aware of the online resources available to you and make contact with the relevant course coordinators to determine if measures can be put in place for work missed as a result of a clash.
                        %li Please refer to your unofficial academic transcript to confirm your request has been processed and you will need to check Access Adelaide to confirm your class times. Please allow five working days for processing.
                %ul.agree
                    %li
                        Select to confirm you approve and understand:
                        %span{ :style => "color: red" } *
                    %li=radio_button_tag :agree,true,false
                %div.submit_button
                    =submit_tag 'Submit'
