= form_tag clash_requests_path do
    %h3 What is the degree
    = select_tag("clash_resolution[degree]",options_for_select(@degrees,session[:clash_resolution]["degree"]), :multiple =>false,:class => "select_box", :id => 'degree_select' )
    %h3 What is the offering time
    = select_tag("clash_resolution[semester]",options_for_select(@semester,session[:clash_resolution]["semester"]), :multiple =>false,:class => "select_box", :id => 'semester_select' )
    %h3 What is the subject area
    = select_tag("clash_resolution[subject]",options_for_select(@subjects,session[:clash_resolution]["subject"]), :multiple =>false,:class => "select_box", :id => 'subject_select' )
    %h3 What is the course
    = select_tag("clash_resolution[course]",options_for_select(@courses,session[:clash_resolution]["faculty"]), :multiple =>false,:class => "select_box", :id => 'course_select' )
    #component_div

    = submit_tag 'Create', class: 'btn btn-primary'